Connect to sheets

In [1]:
import pandas as pd
import streamlit as st
from streamlit_gsheets import GSheetsConnection
from datetime import datetime

In [2]:
url = "https://docs.google.com/spreadsheets/d/1xVKoVmKZOpNZ1oBySdLTE5GXZwN66UNoKjaBoEifZss/edit?usp=sharing"

# Create a connection object
conn = st.connection("gsheets", type=GSheetsConnection)

# Create raw Budget dataframe
budget_df = conn.read(spreadsheet =url, usecols=list(range(15)), worksheet=832591380, ttl=5)

# Create raw Actual dataframe
actual_df = conn.read(spreadsheet =url, usecols=list(range(15)), worksheet=653611236, ttl=5)

2025-05-24 14:16:46.356 WARNING streamlit.runtime.scriptrunner_utils.script_run_context: Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-05-24 14:16:46.969
  Warning: to view this Streamlit app on a browser, run it with the following
  command:

    streamlit run /Users/oscaraguilarembila/miniconda3/envs/ML/lib/python3.13/site-packages/ipykernel_launcher.py [ARGUMENTS]
2025-05-24 14:16:46.969 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-05-24 14:16:46.985 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-05-24 14:16:47.545 Thread 'Thread-4': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-05-24 14:16:47.619 Thread 'Thread-4': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-05-24 14:16:47.671 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-05-24 14:16:47.690 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-05-24 14:16:47.736 No runtime found, using MemoryCacheStorageManager
2025-05-24 14:16:47.747 No runtime found, using MemoryCacheStorageManager
2025-05-24 14:16:47.750 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-05-24 14:16:47.752 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-05-24 14:16:47.753 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-05-24 14:16:48.258 Thread 'Thread-5': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-05-24 14:16:48.260 Thread 'Thread-5': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-05-24 14:16:48.851 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-05-24 14:16:48.852 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-05-24 14:16:48.856 No runtime found, using MemoryCacheStorageManager
2025-05-24 14:16:48.871 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-05-24 14:16:48.883 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-05-24 14:16:48.886 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-05-24 14:16:49.391 Thread 'Thread-6': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-05-24 14:16:49.392 Thread 'Thread-6': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-05-24 14:16:49.552 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-05-24 14:16:49.554 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.

In [8]:
# Make a copy of both dfs
b_df = budget_df.copy()
a_df = actual_df.copy()

# Rename columns
b_df.columns = ["Type", "Buckets"] + list(budget_df.iloc[3])[2:] # Budget
a_df.columns = ["Type", "Buckets"] + list(actual_df.iloc[3])[2:] # Actual

In [15]:
b_df[6:48]

,Type,Buckets,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dic,NaN
6,NaN,1 Quincena,2381.54,"2,382","2,157.52","2,157.51","2,158","2,158","2,158","2,158","2,158","2,158","2,158","2,158",NaN
7,NaN,2 Quincena,1590.06,422,"2,007.51","2,157.51","2,158","2,158","2,158","2,158","2,158","2,158","2,158","2,158",NaN
8,NaN,3 Quincena,2547.41,"2,158",NaN,NaN,NaN,NaN,NaN,"2,158",NaN,NaN,NaN,NaN,NaN
9,NaN,Scolarship 1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,Scolarship 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,Extras,189.95,30,NaN,"3,661.00",850,NaN,NaN,NaN,NaN,NaN,NaN,"1,200",NaN
12,NaN,TOTAL INGRESOS,7825.63,7262,6037,9506,7015,5773,6215,8373,6195,6215,6215,7415,NaN
13,NaN,EGRESOS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,N,Tithing 1 Quincena,288.47,288,293.21,293.21,293,293,293,293,293,293,293,293,NaN
15,N,Tithing 2 Quincena,199.88,60,293.21,293.21,293,293,293,293,293,293,293,293,NaN
16,N,Tithing 3 Quincena,288.47,293.21,NaN,0.00,NaN,NaN,NaN,293,NaN,NaN,NaN,120,NaN
17,N,Fast Offerings,90.00,90,90.00,90.00,90.00,90.00,90.00,90.00,90.00,90.00,90.00,90.00,NaN
18,N,Renta,1787.83,"1,826","1,833.84","1,839.00",1840,"1,840","1,840","1,840","1,840","1,840","1,840","1,840",NaN
19,N,"Utilities(Gas,Elec, Cox)",167,155,157.16,149.89,160,160,160,160,160,160,160,160,NaN
20,N,Life Insurance,33,32.57,32.57,32.57,32.57,33,33,33,33,33,33,33,NaN
21,N,Health Insurance,0,0.00,0.00,0.00,0,0,0,0,0,0,0,0,NaN
22,N,Carro Insurance,127,127,126.66,126.66,127,127,127,127,127,127,127,127,NaN
23,N,Carro-Gas,47,69,163.73,149.04,70,70,70,70,70,70,70,70,NaN
24,N,Cell Phone,72,36,35.87,46.02,36,36,36,36,36,36,36,36,NaN
25,NaN,Sub-Total Fijos,3099.81,"2,977","3,026","3,020","2,942","2,942","2,942","3,235","2,942","2,942","2,942","3,062",NaN
26,N,Food,729,576,545.18,608.11,400,400,400,400,400,400,400,400,NaN
27,N,Supplies,36,106,73.91,0.00,50,50,50,50,50,50,50,50,NaN
28,N,Health Care,0,30,376.20,10.00,30,30,30,30,30,30,30,30,NaN
29,N,Self Care,68,0,0.00,39.99,20,20,20,20,20,20,20,20,NaN
30,N,Carro Care,0,0,0.00,62.00,15,15,15,15,15,15,15,15,NaN
31,N,Ropa,0,0,0.00,0.00,15,15,15,15,15,15,15,15,NaN
32,W,Escuela,990,0,990.00,726.66,500,500,500,500,500,500,500,500,NaN
33,W,Isaac,12,30,9.75,509.00,20,20,20,20,20,20,20,20,NaN
34,W,Adri,30,60,30.00,32.00,30,30,30,30,30,30,30,30,NaN
35,W,Eliam,0,0,19.46,0.00,10,10,10,10,10,10,10,10,NaN
36,W,Dates/Fun,131,0,97.35,29.00,50,50,50,50,50,50,50,50,NaN
37,W,Subscriptions,27,15,171.93,26.96,50,50,50,50,50,50,50,50,NaN
38,W,Gifts,36,0,97.51,28.20,40,40,40,40,40,40,40,40,NaN
39,W,Dineout,111,64,159.40,134.90,30,30,30,30,30,30,30,30,NaN
40,W,Snacks,36,57,32.83,19.41,15,15,15,15,15,15,15,15,NaN
41,W,Viajes,50,0,278.19,253.94,40,40,40,40,40,40,40,40,NaN
42,SD,Emergency Fond,0,0,0,0.00,0,0,0,0,0,0,0,0,NaN
43,SD,Debt/Fees,362,69,86.74,455.40,400,300,300,300,300,300,300,300,NaN
44,SD,Savings,0,0.00,0.00,0.00,0,0,0,0,0,0,0,0,NaN
45,SD,Investing,0,0,0.00,0.00,0,0,0,0,0,0,0,0,NaN
46,SD,Negocio,0,120,0.00,0.00,0,0,0,0,0,0,0,0,NaN
47,SD,Miscelaneous,170,94,42.43,38.98,50,50,50,50,50,50,50,50,NaN

In [22]:
datetime.today().strftime("%b")

'May'

In [ ]:

# Remove unnecessary rows
b_df = b_df.iloc[26:48] # Budget
a_df = a_df.iloc[26:48] # Actual

# Store Type and Buckets array in a Dataframe
categories = pd.DataFrame({
	"Type": b_df.Type,
	"Bucket": b_df.Buckets
})

# Remove unnecessary columns
b_df.drop(b_df.columns[[0, -1]], axis=1, inplace=True) # Budget
a_df.drop(a_df.columns[[0, -1]], axis=1, inplace=True) # Actual

# Reset index for all dataframes
b_df = b_df.reset_index(drop=True).drop("Buckets", axis=1) # Budget
a_df = a_df.reset_index(drop=True).drop("Buckets", axis=1) # Actual
categories = categories.reset_index(drop=True)

In [4]:
# Remove comas from all columns
budget = b_df.applymap(lambda x: str(x).replace(',', ''))
for col in a_df.select_dtypes(include='object'):
    a_df[col] = a_df[col].str.replace(',', '', regex=False)

# Convert to numbers
budget = budget.apply(pd.to_numeric)
actuals = a_df.apply(pd.to_numeric)

# Fill NA with 0
budget = budget.fillna(0)
actuals = actuals.fillna(0)

# Get today's month
td = datetime.today().strftime("%b")

/var/folders/g8/7typdv_j24q8mrqfwd3816r00000gn/T/ipykernel_6751/2850424433.py:2: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  budget = b_df.applymap(lambda x: str(x).replace(',', ''))

In [5]:
final_df = pd.DataFrame({
    'Type': categories.Type,
    'Category': categories.Bucket,
    'Balance': budget[td] - actuals[td],
    'Budget': budget[td]
})
final_df

   Type        Category  Balance  Budget
0     N            Food      -11     400
1     N        Supplies       50      50
2     N     Health Care      -10      30
3     N       Self Care       20      20
4     N      Carro Care       15      15
5     N            Ropa       15      15
6     W         Escuela     -609     500
7     W           Isaac        1      20
8     W            Adri        0      30
9     W           Eliam       10      10
10    W       Dates/Fun       37      50
11    W   Subscriptions       23      50
12    W           Gifts      -16      40
13    W         Dineout     -102      30
14    W          Snacks      -12      15
15    W         Viajes        40      40
16   SD  Emergency Fond        0       0
17   SD       Debt/Fees       59     400
18   SD         Savings        0       0
19   SD       Investing        0       0
20   SD         Negocio        0       0
21   SD    Miscelaneous       23      50

In [7]:
final_df.Category.to_list()

['Food',
 'Supplies',
 'Health Care',
 'Self Care',
 'Carro Maintenance',
 'Ropa',
 'Escuela',
 'Isaac',
 'Adri',
 'Eliam',
 'Dates/Fun',
 'Subscriptions',
 'Gifts',
 'Fast Food',
 'Junk Food',
 'Viajes ',
 'Emergency Fond',
 'Debt/Fees',
 'Savings',
 'Investing',
 'Negocio',
 'Miscelaneous']

In [ ]:
col_inter = ['Food', 'Supplies', 'Self Care', 'Isaac', 'Adri', 'Eliam', 'Dates/Fun', 'Gifts', 'Dineout', 'Snakcs']

filtered_df = final_df[final_df['Category'].isin(col_inter)]

In [13]:
filtered_df

   Type        Category  Balance  Budget
0     N            Food    225.0     400
1     N  House Supplies     50.0      50
3     N       Self Care     20.0      20
7     W           Isaac     20.0      20
8     W            Adri     30.0      30
9     W           Eliam     10.0      10
10    W       Dates/Fun     50.0      50
12    W           Gifts     40.0      40
13    W       Fast Food     30.0      30
14    W       Junk Food     15.0      15

In [17]:
import plotly.graph_objects as go

In [ ]:
fig = go.Figure(go.Indicator(
    type="indicator",
    mode="gauge+number+delta", # other modes for different display options
    value=50,
    title="Value on Bar",
    gauge={
        'shape': 'bullet',
        'bar': {
            'thickness': 0.8,
            'color': 'blue'  # Example color
        },
        'axis': {
            'visible': True,
            'range': [0, 100]
        }
    }
))
fig.show()

In [ ]:
# Save to pickle
final_df.to_pickle("April")

In [21]:
# Group by Type
final_df.groupby("Type").agg({'Balance':'sum', 'Budget':'sum'}).reset_index()

  Type  Balance  Budget
0    N    355.0     530
1   SD   1022.0    1300
2    W    785.0     785

In [22]:
# Filter Categories of interest
final_df[final_df['Balance'] > 0]

   Type           Category  Balance  Budget
0     N               Food    225.0     400
1     N     House Supplies     50.0      50
2     N        Health Care     30.0      30
3     N          Self Care     20.0      20
4     N  Carro Maintenance     15.0      15
5     N               Ropa     15.0      15
6     W            Escuela    500.0     500
7     W              Isaac     20.0      20
8     W               Adri     30.0      30
9     W              Eliam     10.0      10
10    W          Dates/Fun     50.0      50
11    W      Subscriptions     50.0      50
12    W              Gifts     40.0      40
13    W          Fast Food     30.0      30
14    W          Junk Food     15.0      15
15    W            Viajes      40.0      40
17   SD          Debt/Fees    972.0    1250
21   SD       Miscelaneous     50.0      50

### Next Steps
- Plotly display
- Diplay in Streamlit
- Make it look nice
- Add tab to insert expenses

https://plotly.com/python/bullet-charts/
https://plotly.com/python/indicator/

In [ ]:
col_inter = ['Food', 'House Supplies', 'Self Care', 'Isaac', 'Adri', 'Eliam', 'Dates/Fun', 'Gifts', 'Fast Food', 'Junk Food']

In [ ]:
sheet_id = '1xVKoVmKZOpNZ1oBySdLTE5GXZwN66UNoKjaBoEifZss'

In [5]:
import gspread
from oauth2client.service_account import ServiceAccountCredentials
import streamlit as st
import pandas as pd

# Authenticate and connect to Google Sheets
def connect_to_gsheet(creds_json, spreadsheet_name, sheet_name):
    scope = ["https://spreadsheets.google.com/feeds", 
             'https://www.googleapis.com/auth/spreadsheets',
             "https://www.googleapis.com/auth/drive.file", 
             "https://www.googleapis.com/auth/drive"]
    
    credentials = ServiceAccountCredentials.from_json_keyfile_name(creds_json, scope)
    client = gspread.authorize(credentials)
    spreadsheet = client.open(spreadsheet_name)  
    return spreadsheet.worksheet(sheet_name)  # Access specific sheet by name

# Google Sheet credentials and details
SPREADSHEET_NAME = 'Cash Flow Fam Aguilar'
SHEET_NAME = 'Real'
CREDENTIALS_FILE = './credentials.json'

# Connect to the Google Sheet
sheet_by_name = connect_to_gsheet(CREDENTIALS_FILE, SPREADSHEET_NAME, sheet_name=SHEET_NAME)

In [ ]:
# Get the values of row 5 and column B
row_5 = sheet_by_name.row_values(5)
col_B = sheet_by_name.col_values(2)

# Find the column and row indexes
col_index = row_5.index("May") + 1
row_index = col_B.index("Food") + 1

# Read current value
current_value = sheet_by_name.cell(row_index, col_index).value
new_value = float(current_value or 0) + 10

# Update Category
sheet_by_name.update_cell(row_index, col_index, new_value)

# Update Debt
sheet_by_name.update_cell(row_index, col_index, new_value)
row_index = col_B.index("Deuda") + 1
sheet_by_name.update_cell(row_index, col_index, float(sheet_by_name.cell(row_index, col_index).value)+10)

# Update Card
row_index = col_B.index(card) + 1
sheet_by_name.update_cell(row_index, col_index, float(sheet_by_name.cell(row_index, col_index).value)+10)

' 175 '

In [7]:
new_value = float(current_value or 0) + 10
new_value

185.0

In [ ]:

# Write the updated value
sheet_by_name.update_cell(row_index, col_index, new_value)